body {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: #020816;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: #020816;
    z-index: 15;
}

img {
    display: flex;
    margin: 0 auto;
    padding: 12px;
    align-self: center;
}

nav a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #020816;
    color: white;
}

p {
    text-align: center;
    width: 100vw;
}

#root {
    background-color: #020816;
    transition: margin-left 0.5s;
    overflow: hidden;
}

#dashboard {
    background-color: #efefef;
}

#nav-pane {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#nav-pane-qns {
    position: absolute;
    z-index: 10;
    margin-left: -300px;
    transition: margin-left 0.5s;
    text-align: center;
    padding: 6px;
    overflow: hidden;
}

#nav-pane-qns:first-child {
    color: white;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}

#question-pane {
    width: 80vw;
    margin: 0 auto;
    padding: 24px;
    border-radius: 10px;
    background-color: #fff;
}

#notifier {
    background-color: #035aa6;
    position: absolute;
    margin-top: 50px;
    transition: margin-top 2s;
    left: 0px;
    top: 0px;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

#question {
    background-color: #eee;
    width: 64vw;
    padding: 12px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    font-size: 20px;
    border-left: 4px solid #035aa6;
    margin: 0 auto;
}

#options {
    margin: 0 auto;
    padding: 12px;
    width: 64vw;
}

.option {
    padding: 12px;
    background-color: #eee;
    margin: 6px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    border-left: 4px solid #fa7d09;
    cursor: pointer;
    transition: 0.5s;
}

#question-count {
    margin-left: auto;
    margin-right: 20px;
    padding: 12px;
    text-align: end;
    width: fit-content;
    float: right;
}

.qn_number {
    display: block;
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    margin: 4px;
    font-size: 30px;
    background-color: #efefef;
    color: #010101;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#notifier-close {
    color: white;
    margin: 32px;
    font-size: 32px;
    width: 50px;
    height: 50px;
    background-color: #00000033;
    text-align: center;
    border-radius: 8px;
}

.title {
    margin: 0 auto;
    text-align: center;
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.button{
    margin: 32px auto;
    background-color: #ffffff00;
    border: solid white 2px;
    border-radius: 8px;
    width: fit-content;
    padding: 4px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.instruct, .about {
    margin: 32px auto;
    background-color: #ffffff00;
    border: solid white 2px;
    border-radius: 8px;
    width: 80vw;
    padding: 4px;
    color: white;
    text-align: center;
}

.button:hover {
    background-color: white;
    color: black;
}

#question-menu {
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 70%;
    margin: 0 auto;
    vertical-align: center;
}

#question-menu div:first-child i {
    font-size: 40px;
    margin: 4px;
    padding: 4px;
}

#timer {
    position: absolute;
    right: 0;
    top: 70px;
    background-color: #0eb6b6;
    padding: 12px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    border-radius: 8px;
    color: white;
}

@media only screen and (max-width: 600px){
    nav{
        justify-content: space-evenly;
        width: 100vw;
    }

    nav a {
        padding: 20px 0px;
    }

    .title {
        font-size: 40px;
    }

    #timer {
        top: 100px;
    }
}