body {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 150, 219);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: #121212;
    z-index: 15;
}

nav a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #121212;
    color: white;
}

p {
    text-align: center;
    width: 100vw;
}

#root {
    background-color: rgb(0, 0, 0);
    transition: margin-left 0.5s;
    overflow: hidden;
}

#dashboard {
    background-color: #dfdfdf;
}

#nav-pane {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#nav-pane-qns {
    position: absolute;
    z-index: 10;
    margin-left: -300px;
    transition: margin-left 0.5s;
    text-align: center;
    padding: 6px;
    overflow: hidden;
}

#nav-pane-qns:first-child {
    color: white;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}

#question-pane {
    width: 80vw;
    margin: 0 auto;
    padding: 24px;
    border-radius: 10px;
    background-color: #eee;
}

#notifier {
    background-color: rgb(0, 150, 219);
    position: absolute;
    margin-top: -2400px;
    transition: margin-top 1s;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

#question {
    background-color: rgb(233, 233, 233);
    width: 64vw;
    padding: 12px;
    border: 1px solid #cecece;
    border-radius: 8px;
    font-size: 20px;
    border-left: 4px solid rgb(0, 150, 219);
    margin: 0 auto;
}

#options {
    margin: 0 auto;
    padding: 12px;
    width: 64vw;
}

.option {
    padding: 12px;
    background-color: rgb(233, 233, 233);
    margin: 6px;
    border: 1px solid #cecece;
    border-radius: 8px;
    border-left: 4px solid rgb(240, 149, 12);
}

.qn_number {
    display: block;
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    margin: 4px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    color: #0f0f0f;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#notifier-close {
    color: white;
    margin: 32px;
    font-size: 32px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 8px;
}

@media only screen and (max-width: 600px){
    nav{
        justify-content: space-evenly;
        width: 100vw;
    }

    nav a {
        padding: 20px 0px;
    }
}